{% extends '::consultor.html.twig' %}
{% block id 'selectionprocesscandidate' %}
{% block title %}Candidato{% endblock %}

{% block article %}

<div id="wrap">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 content">
                <br>
                <h1>{{ block('title') }}</h1>
                <br>
                <br>
                <div class="row-fluid">
                    
                    {{ form_start(form, { 'action': path('sp_candidato_create' , { 'idselectionprocess': entity.selectionProcess.id }) }) }}  
                        {{ form_errors(form) }}
                        
                        <fieldset>
                            <div class="row-fluid">
                                <table class="record_properties">
                                    <tbody>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Proceso de Selección :</th>
                                            <!--<td width="720px">{{ form_widget(form.selectionProcess ) }}</td>-->
                                            <td width="720px">{{ entity.selectionProcess  }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th  colspan=2 height="10px"></th>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Candidato :</th>
                                            <td width="720px">{{ form_widget(form.candidate ) }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th  colspan=2 height="10px"></th>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Usuario :</th>
                                            <td width="720px">{{ form_widget(form.userCandidate ) }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th colspan=2 height="10px"></th>
                                        </tr>
                                       
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Password :</th>
                                            <td width="720px">{{ form_widget(form.password ) }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th colspan=2 height="10px"></th>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Activo :</th>
                                            <td width="720px">{{ form_widget(form.active ) }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th colspan=2 height="10px"></th>
                                        </tr>
                                        
                                        <tr> 
                                            <td width="40px" ></td>
                                            <td colspan=2 >{{ form_widget(form.guardar ) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    {{ form_end(form) }}
                    
                </div>
                <br>
                <br>
                <!--
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('rol_homepage') }}">
                            Volver al listado
                        </a>
                    </li>
                </ul>
                -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
