{% extends '::consultor.html.twig' %}

{% block id 'registerdefinitionrol' %}
{% block title %}Modificar de ficha de cargo{% endblock %}

{% block article %}

<div id="wrap">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 content">
                <h1>{{ block('title') }}</h1>
                <br>
                <br>
                <div class="row-fluid">
                    
                    {{ form_start(edit_form, { 'action': path('register_definition_rol_update' , { 'id': entity.id } ) }) }}  
                        {{ form_errors(edit_form) }}
                        <fieldset>
                            <div class="row-fluid">
                                <table class="record_properties">
                                    <tbody>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Proceso de Selección :</th>
                                            <td width="720px">{{ form_widget(edit_form.selectionProcess ) }}</td>
                                            <!--<td width="720px">{{ entity.selectionProcess  }}</td>-->
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th  colspan=2 height="10px"></th>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Rol :</th>
                                            <td width="720px">{{ form_widget(edit_form.rol ) }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th  colspan=2 height="10px"></th>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Nombre :</th>
                                            <td width="720px">{{ form_widget(edit_form.name ) }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th colspan=2 height="10px"></th>
                                        </tr>
                                       
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Descripción :</th>
                                            <td width="720px">{{ form_widget(edit_form.descRol ) }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th colspan=2 height="10px"></th>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Experiencia anterior :</th>
                                            <td width="720px">{{ form_widget(edit_form.expAnt ) }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th colspan=2 height="10px"></th>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th width="180px">Años de experiencia :</th>
                                            <td width="720px">{{ form_widget(edit_form.expYears ) }}</td>
                                        </tr>
                                        <tr> 
                                            <td width="40px" ></td>
                                            <th colspan=2 height="10px"></th>
                                        </tr>
                                        
                                        <tr> 
                                            <td width="40px" ></td>
                                            <td colspan=2 >{{ form_widget(edit_form.guardar ) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    {{ form_end(edit_form) }}
                </div>
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('register_definition_rol_show', { 'id': entity.id } ) }}">
                            Cancelar
                        </a>
                    </li>
                    <!--
                    <li>
                        <form action="{{ path('rol_delete', { 'id': entity.id }) }}" method="post">
                            {{ form_widget(delete_form) }}
                            <button type="submit">Borrar rol</button>
                        </form>
                    </li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

